<h1>Navigation</h1>
<ul>
  <li>
    <h2><a href="{{ '/' | relative_url }}">About</a></h2>
  </li>
  <li>
    <h2><a href="{{ '/download/' | relative_url }}">Download</a></h2>
    <ul>
      <li><a href="{{ '/download/release-notes.html' | relative_url }}">Release Notes</a></li>
      <li><a href="{{ '/download/cve-status.html' | relative_url }}">CVE Status</a></li>
    </ul>
  </li>
  <li>
    <h2><a href="{{ '/features/' | relative_url }}">Features</a></h2>
    <ul>
      <li><a href="{{ '/features/man-firecfg.html' | relative_url }}">man firecfg</a></li>
      <li><a href="{{ '/features/man-firejail.html' | relative_url }}">man firejail</a></li>
      <li><a href="{{ '/features/man-firejail-lts.html' | relative_url }}">man firejail (LTS)</a></li>
      <li><a href="{{ '/features/man-firejail-login.html' | relative_url }}">man firejail-login</a></li>
      <li><a href="{{ '/features/man-firejail-users.html' | relative_url }}">man firejail-usesr</a></li>
      <li><a href="{{ '/features/man-firejail-profile.html' | relative_url }}">man firejail-profile</a></li>
      <li><a href="{{ '/features/man-firemon.html' | relative_url }}">man firemon</a></li>
    </ul>
  </li>
  <li>
    <h2><a href="{{ '/documentation/' | relative_url }}">Documentation</a></h2>
    <ul>
      <li><a href="{{ '/documentation/basic-usage.html' | relative_url }}">Firejail Usage</a></li>
      <li><a href="{{ '/documentation/appimage-support.html' | relative_url }}">AppImage Support</a></li>
      <li><a href="{{ '/documentation/building-custom-profiles.html' | relative_url }}">Building Custom Profiles</a></li>
      <li><a href="{{ '/documentation/firefox-guide.html' | relative_url }}">Firefox Sandboxing Guide</a></li>
      <li><a href="{{ '/documentation/linux-capabilities-guide.html' | relative_url }}">Linux Capabilities Guide</a></li>
      <li><a href="{{ '/documentation/seccomp-guide.html' | relative_url }}">Seccomp Guide</a></li>
      <li><a href="{{ '/documentation/x11-guide.html' | relative_url }}">X11 Guide</a></li>
    </ul>
  </li>
  <li>
    <h2><a href="{{ '/support/' | relative_url }}">Support</a></h2>
  </li>
</ul>
