<h1>Navigation</h1>
<ul>
  <li>
    <h2><a href="{{ '/' | relative_url }}">About</a></h2>
  </li>
  <li>
    <h2><a href="{{ '/download/index.html' | relative_url }}">Download</a></h2>
    <ul>
      <li><a href="{{ '/download/release-notes.html' | relative_url }}">Release Notes</a></li>
      <li><a href="{{ '/download/cve-status.html' | relative_url }}">CVE Status</a></li>
    </ul>
  </li>
  <li>
    <h2>Features</h2>
    <ul>
      <li>man firecfg</li>
      <li>man firejail</li>
      <li>man firejail (LTS)</li>
      <li>man firejail-login</li>
      <li>man firejail-users</li>
      <li>man firejail-profile</li>
      <li>man firemon</li>
    </ul>
  </li>
</ul>
